/* src/components/UI/VideoPlayer.module.css */

.videoContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .video {
    width: 100%;
    max-width: 800px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }